openai
langchain
python-dotenv
langchain-openai
zhipuai
langchain-community
streamlit
pymupdf
watchdog
clickhouse-driver
langchain-milvus
pymilvus
python-dotenv
langchain-deepseek
clickhouse-sqlalchemy
sentence-transformers
dashscope
defusedxml
chromadb
tiktoken
ollama
langchain_chroma
langgraph